@model BlogEsta.Models.BlogViewModel

@{
    ViewData["Title"] = "Editar";
    var erro = ViewBag.Erro;
}

<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" readonly />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div> 
            @if (erro != null)
            {<div class="form-group">
                    <span class="alert alert-danger col-md-8">Este Titulo já existe!</span>
                    <br />
                </div>
            }
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" readonly />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateCriacao" class="control-label"></label>
                <input asp-for="DateCriacao" class="form-control" readonly  type="datetime-local"/>
                <span asp-validation-for="DateCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <textarea maxlength="800" asp-for="Texto" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            GenerateUrl();
        });
            
        ClassicEditor.create(document.querySelector("#editor"))
            .catch(error => {
                console.error(error);
            });
    </script>
}